body {
  background-image: url(http://tubbycreative.com/tts/TTSTuesFin.jpg);
  /* background-image: url("Assets/tts_bg_october_2018.jpeg"); */

  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed !important;
  background-size: 100% auto; /* width and height, can be %, px or whatever. */
  background-color: #a2865f;

  margin: 0;
  padding: 0;
}
.about-bg {
  background: url(http://tubbycreative.com/tts/TTSTuesFin.jpg) no-repeat center
  center fixed;
}
.bm-menu {
  /* font-family: "Open Sans"; */
  font-family: 'Montserrat', sans-serif;
  /* font-size: 10px; */
  background: #000000;
  padding: 2.5em 1.5em 0;
  padding-left: 2%;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  padding-top: 73px;
}
/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2em;
}

@font-face {
  /* http://www.fontspace.com/weknow/reggae-bass */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans"), local("OpenSans"),
    url("Assets/Fonts/PoplarStd.otf") format("truetype"); /* Safari, Android, iOS */
}
.image_wrapper {
  /* margin-top: 100px; */
}
.responsive {
  width: 100%;
  height: auto;
}
.media_container {
  margin: auto;
  width: 80%;
  /* border: 7px solid red; */
  padding: 10px;
  /* background-color: white; */
  color: black;
  padding-top: 200px;
}
#homepage {
  font-size: 80px;
  height: 100%;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  margin-bottom: 15px;
}
.fuse-wrapper {
  position: relative;
  top: 200px;
}
.fuse {
  position: absolute;
  top: 100px;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-color: black;
  position: fixed;
  top: 0;
  height: 77px;
  width: 100%;
  z-index: 100;
  opacity: 0.8;
}
main {
  /* padding-top: 10%; */
}
.swatch {
  margin-top: 10px !important;
  margin-bottom: 4px !important;
  padding-top: 10px !important;
  padding-right: 30px !important;
  padding-bottom: 10px !important;
  padding-left: 30px !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
}

.nextgig {
  font-size: 95%;
}
.gig {
  font-size: 70%;
}
.timeto {
  background-color: tomato;
}
.a {
  /* background-color: #71404f; */
  background-color: rgba(0, 0, 0, 0.7);
}
.b {
  /* background-color: #d16554; */
  background-color: rgba(0, 0, 0, 0.7);
}
.c {
  /* background-color: #87c0a4; */
  background-color: rgba(0, 0, 0, 0.7);
}
.d {
  /* background-color: #3e664a; */
  background-color: rgba(0, 0, 0, 0.7);
}
.e {
  /* background-color: #3c8186; */
  background-color: rgba(0, 0, 0, 0.7);
}
.f {
  /* background-color: #e29c42; */
  background-color: rgba(0, 0, 0, 0.7);
}
#sidebar_bottom {
  /* font-family: 'Montserrat', sans-serif; */
  position: absolute;
  top: 9px;
  height: 30px;
}

.events_container {
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* width: 80%; */
  /* display: table-row; */
  /* margin: 10px; */
  /* width: 80%; */
  /* margin-bottom: 10px; */
  padding-top: 140px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Oswald", sans-serif;
  font-size: 5vw;
}
#newsLetterEmail {
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
}

#countdown_container {
  /* font-style: italic; */
  font-size: 80%;
}
.countdown_digit {
  font-size: 150%;
}
.Countdown {
  /* background-color: red; */
  color: red;
  font-size: 85%;
}
.event_date {
  font-size: 60%;
}
.event_right {
  padding-top: 10px;
  padding-bottom: 10px;
}
.eventtitle {
  font-size: 75%;
  color: yellow;
}
.eventlocation {
  font-size: 60%;
  color: #00bb00;
}
.eventaddress {
  font-size: 55%;
}
.menu-item {
  font-size: 3vw;
  padding-bottom: 10px;
}